body {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

.main {
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: white;
	font-family: Arial, Helvetica, sans-serif;
}

#header {
	position: relative;
	display: flex;
	height: 8%;
	width: 100%;
	padding: 0 0 0 15%;
	background: black;
}

#runbtn {
	position: relative;
	height: 60%;
	width: 6%;
	top: 20%;
	font-size: 15px;
	background: gray;
	border-radius: 5px;
	border-width: 0;
	cursor: pointer;
}

#runbtn:hover {
	background:rgb(200, 90, 90);
}

.header-content {
	position: relative;
	display: inline-block;
	width: 10%;
	height: 100%;
	font-size: 15px;
	background: transparent;
	color: white;
	border: none;
	cursor: pointer;
}

.header-content:hover {
	color: gray;
}

#legend {
	position: relative;
	height: 6%;
	width: 100%;
}

#grid {
	position: relative;
	overflow: hidden;
	height: 84%;
	width: 99%;
	margin: 0 auto;
	border: none;
	text-align: center;
}

#canvas, #back_canvas {
	position: absolute;
	border: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* Dropdown algorithm selection */
#algobtn, #mazebtn {
	position: relative;
	height: 100%;
	width: 100%;
	background: transparent;
	color: white;
	font-size: 16px;
	border: none;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: rgb(235, 235, 235);
	width: 100%;
	border-radius: 5px;
	z-index: 1;
}

.dropdown-content {
	position: relative;
	height: 25%;
	width: 95%;
	color: black;
	margin: 0;
	padding: 10% 0% 10% 5%;
	border-radius: 5px;
	font-size: 15px;
	font-weight: lighter;
	cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-menu .dropdown-content:hover {
	background-color: gray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover #algobtn #mazebtn {
	color: gray;
}

/* Version for smaller devices */
@media (max-height: 480px) {

	.main {
		overflow-y: scroll;
	}

	#header {
		height:15%;
	}

	#runbtn {
		width: 10%;
	}
}

@media (max-width: 900px) {

	body {
		align-content: center;
	}

	.main {
		overflow: visible;
		height: 150%;
		position: absolute;
	}

	#header {
		flex-flow: column;
		height: 50%;
		align-items: center;
		padding-left: 0;
		padding-bottom: 10px;
	}

	#runbtn {
		top: 0;
		width: 30%;
	}

	.header-content {
		width: 30%
	}
}